body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;  /* Современный шрифт */
  background: linear-gradient(to bottom, #1a237e, #0d47a1); /* Градиентный фон */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для заголовка */
  margin-bottom: 20px;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  padding: 30px;
  background-color: rgba(30, 30, 30, 0.7); /* Полупрозрачный фон */
  border-radius: 15px; /* Скругленные углы */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6); /* Усиленная тень */
  margin-bottom: 20px;
  transition: transform 0.3s ease; /* Плавная анимация */
}

.content-container:hover {
  transform: translateY(-5px); /* Поднятие при наведении */
}

iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: none;
  border-radius: 12px; /* Скругленные углы */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Усиленная тень */
  transition: box-shadow 0.3s ease; /* Плавная анимация */
}

iframe:hover {
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6); /* Изменение тени при наведении */
}

.back-button {
  background-color: #2979ff; /* Синий цвет */
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px; /* Скругленные углы */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Плавные анимации */
}

.back-button:hover {
  background-color: #1565c0; /* Затемненный синий цвет */
  transform: scale(1.05); /* Увеличение при наведении */
}

/* Стили для индикатора загрузки */
#loading-indicator {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff;
}

@media (max-width: 600px) {
  iframe {
      height: 300px;
  }

  .back-button {
      font-size: 14px;
      padding: 10px 20px;
  }
}
